

$bg: chartreuse;

 html,body {
width: 100vw;
overflow-x: hidden;
}
section {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.fullscreen-nav {
  position: fixed;
  z-index: 600;
  right: 1%;
  top: 15px;
  font-size: 2.3rem;
  width: 38rem;
  font-weight: 550;
}

@media (max-width: 1680px) {
  .fullscreen-nav {
    margin-right: -14%;
  }
}

@media (max-width: 1200px) {
  .fullscreen-nav {
    margin-right: -14%;
  }
}

.fullscreen-nav a {
  color: #673A7C;
  text-shadow: 0.1px 0.6px 2px rgb(60, 40, 65);
  text-decoration: none;
  margin: 0 2.5%;
}

.fullscreen-nav a:hover {
  color: chartreuse;
}

@media (max-width: 1680px) {
  .fullscreen-nav a {
    font-size: 1.6rem;
    margin: 0 1%;
  }
}

@media (max-width: 1200px) {
  .fullscreen-nav a {
    font-size: 1.9rem;
    margin: 0 1%;
  }
}

@media (max-width: 1100px) {
  .fullscreen-nav {
    display: none;
  }
}

@media (min-width: 1101px) {
  .menu-btn {
    display: none;
  }
}
.menu-btn {
  position: fixed;
  z-index: 610;
  right: clamp(2%, 35px, 6%);
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.menu-btn .btn-line {
  width: 39px;
  height: 6px;
  margin: 0 0 7px 0;
  border: 0.5px solid #550055;
  box-shadow: 0 0 1px white, 0 0 2px white, 0 0 4px white, 0 4px 5px #3a043a,
    0 4px 5px #3a043a;
  background-color: rgba(20, 5, 18, 0.507);
  transition: all 0.5s ease-out;
  filter: brightness(150%);
}
.menu-btn.close {
  transform: rotate(180deg);
}
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(13px, -13px);
}

.menu {
  position: fixed;
  z-index: 600;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
}
.menu.show {
  visibility: visible;
}
.menu-branding,
.menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
.menu-nav {
  margin: 0;
  padding: 0;
  background: #472e52;
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;
}
.menu-nav.show {
  transform: translate3d(0, 0, 0);
}
.menu-branding {
  background: #281a2e;
  transform: translate3d(0, 100%, 0);
  transition: all 0.5s ease-out;
}
.menu-branding.show {
  transform: translate3d(0, 0, 0);
}
/* .menu-branding .portrait {
      width: 250px;
      height: 250px;
      background: url("");
      border-radius: 50%;
      border: solid 3px #370b50; } */
.menu .nav-item {
  transform: translate3d(600px, 0, 0);
  transition: all 0.5s ease-out;
}
.menu .nav-item.show {
  transform: translate3d(0, 0, 0);
}

.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-out;
}
.menu .nav-link:hover {
  color: chartreuse;
  transform: scale(1.25);
}

.nav-item:nth-child(1) {
  transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  transition-delay: 0.4s;
}

a:active {
  color: chartreuse;
}
.content {
  position: absolute;
  bottom: 20%;
  right: 15%;
  text-align: center;
  z-index: 12;
  visibility: hidden;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-shadow: 0 0 0.5px white, 0 0 1px white, 0 0 2px white, 0 0 3px #ffffff,
    0 0 4.2px #e0dede;
}


.content-name {
  margin: 0;
  font-size: 5.2rem;
}

@media (max-width: 1280px) {
  .content-name {
    font-size: 4.5rem;
    margin-top: -15%;
  }
}

@media (max-width: 600px) {
  .content-name {
    font-size: 4rem;
  }
}

.content-title {
  margin: 0;
  font-size: 3.5rem;
}

@media (max-width: 1280px) {
  .content-title {
    font-size: 3rem;
    margin-top: 1%;
  }
}

@media (max-width: 600px) {
  .content-title {
    margin-top: 75%;
    font-size: 2.7rem;
  }
}

.second-section-title {
  color: rgb(245, 224, 248);
  font-size: 2.6rem;
  padding: 0.1% 4.5%;
  text-align: center;
  border-radius: 5px;
  margin-top: -9%;
  margin-bottom: 1%;
 
  box-shadow: 5px 10px 30px 8px #46324648;
  background-color: #673a7c;
}

@media (max-width: 1280px) {
  .second-section-title {
    font-size: 3rem;
  }
}
@media (max-width: 700px) {
  .second-section-title {
    font-size: 1.8rem;
    width: 65vw;
  }
}

.second-section-title h1 {
  margin: 0;
  text-align: center;
  color: white;
  text-shadow: 0 0 2px white, 0 0 3px white, 0 0 4px #3a043a73,
    0 2px 5px #3a043a, 0 3px 5px #000000a8;
}

#second-section a {
  text-decoration: none;
}

.card-box {
  display: flex;
  justify-content: space-evenly;
  width: 95%;
  border-radius: 0.5rem;
  flex-wrap: wrap;
  padding-bottom: 5%;
  box-shadow: 5px 10px 30px 8px #46324648;
  background: linear-gradient(45deg, #280741, #fadcee, #422a5b);
}

.card-wrapper {
  position: relative;
  margin-top: 6%;
}

.card {
  position: relative;
  z-index: 100;
  width: 40rem;
  height: 22rem;
  transform-style: preserve-3d;
  perspective: 1000px;
  box-shadow: 0 0 1px white, 0 0 2px white, 0 0 4px white, 0 6px 6px #3a043a,
    0 8px 8px #3a043a;
}

@media (max-width: 1281px) {
  .card {
    width: 30rem;
    height: 17rem;
  }
}

@media (max-width: 660px) {
  .card {
    width: 22rem;
    height: 12rem;
  }
}

@media (max-width: 445px) {
  .card {
    width: 20rem;
    height: 10rem;
  }
}

@media (max-width: 395px) {
  .card {
    width: 18rem;
    height: 10rem;
  }
}

.box {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.8s ease;
  background: linear-gradient(45deg, #280741, #fadcee, #422a5b);
}

@media (max-width: 450px) {
  .box {
    margin-top: 8%;
  }
}

.card:hover .box {
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
}

.card .box:hover {
  width: 100%;
  height: 100%;
}

.card .box .imgBx video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
}

.card .box .contentBx {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

@media (max-width: 1280px) {
  .card .box .contentBx {
    top: -6%;
  }
}

.card .box .contentBx div {
  transform-style: preserve-3d;
  padding: 20px;
  transform: translateZ(100px);
  backface-visibility: hidden;
  object-fit: cover;
}

.card .box .contentBx div h2 {
  color: #fff;
  font-size: 1.7rem;
  letter-spacing: 1px;
  background-color: #0a0111;
  padding: 3px;
  text-align: center;
  width: 70%;
  min-width: 100px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1680px) {
  .card .box .contentBx div h2 {
    margin-bottom: 2%;
    font-size: 1.5rem;
  }
}

@media (max-width: 801px) {
  .card .box .contentBx div h2 {
    margin-top: 6%;
    margin-bottom: 1%;
    font-size: 1.3rem;
  }
}

@media (max-width: 500px) {
  .card .box .contentBx div h2 {
    margin-top: -2%;
    margin-bottom: 1%;
    font-size: 1.3rem;
    width: 80%;
  }
}

.card .box .contentBx div p {
  color: #fff;
  font-size: 1.5rem;
  background-color: #0a0111;
  padding: 6px;
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .card .box .contentBx div p {
    font-size: 1.2rem;
  }
}

@media (max-width: 900px) {
  .card .box .contentBx div p {
    font-size: 1.2rem;
  }
}

@media (max-width: 661px) {
  .card .box .contentBx div p {
    font-size: 1rem;
  }
}

@media (max-width: 410px) {
  .card .box .contentBx div p {
    font-size: 0.8rem;
  }
}

.github-link {
  width: 2.5rem;
  border-radius: 3px;
  border-width: 2px;
  margin-top: 8%;
  border: 0.5px solid blueviolet;
  box-shadow: 0 0 1px white, 0 0 2px white, 0 0 4px white, 0 4px 5px #3a043a,
    0 4px 5px #3a043a;
  background-color: rgba(20, 5, 18, 0.507);
}

@media (max-width: 660px) {
  .github-link {
    width: 2.2rem;
    margin-top: 20%;
  }
}

.github-link:hover {
  transform: scale(1, 1);
  transition: 0.01s;
}

#link {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 500;
  text-shadow: 0 0 0.3px white, 0 0 0.5px white, 0 0 0.8px white,
    0 4px 4px#140114, 0 0 6px #3b033b, 0 0 10px blueviolet;
  filter: contrast(1);
}

#link:hover {
  transform: scale(1.2, 1.2);
  transition: 0.3s ease-out;
}

.project-links {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.8rem;
  box-shadow: 0 0 1px white, 0 0 2px white, 0 0 4px white, 0 4px 5px #3a043a,
    0 4px 5px #0f000f;
  background-color: #4e2063be;
}

.skills {
  width: 80%;
  margin-top: 1.2%;
  padding: 0.7%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  box-shadow: 5px 10px 30px 8px #46324648;
  border-radius: 10px;
  color: #ffffff;
  text-shadow: 0 0 2px white, 0 0 3px white, 0 0 4px #3a043a73,
    0 2px 5px #3a043a, 0 3px 5px #800980a8;
  background-color: #673a7c;
}

@media (max-width: 450px) {
  .skills {
    margin-top: 8%;
  }
}

@media (max-width: 1400px) {
  .skills h1 {
    width: 100%;
  }
}

.skills .icon-wrapper {
  padding: 0.3%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.skills .icon-wrapper > img {
  width: 6rem;
  padding: 1%;
  background-color: #735f8e;
  box-shadow: 0 0 1px white, 0 0 2px white, 0 0 4px white, 0 4px 5px #3a043a,
    2px 3px 5px #3a043a;
}

.skills .icon-wrapper h6 {
  margin: 0;
}

.third-section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}



.third-section-title h1 {
  color: rgb(255, 255, 255);
  font-size: 4rem;
  padding: 0.1% 5%;
  display: flex;
  border-radius: 5px;
  margin-top: 1%;
  margin-bottom: 2%;
  text-shadow: 0 0 2px white, 0 0 3px white, 0 0 4px #3a043a73,
    0 2px 5px #3a043a, 0 3px 5px #000000a8;
  box-shadow: 5px 10px 30px 8px #46324648;
  background-color: #673a7c;
}

.my-image {
  position: absolute;
  top: 25%;
  left: 4%;
}

.about-div {
  display: flex;
  width: 95%;
  height: 100%;
  min-height: 81vh;
  margin-bottom: 2%;
  border-radius: 0.5rem;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-blend-mode: saturation;
  box-shadow: 5px 10px 40px 5px #46324648;
}

@media (max-width: 1680px) {
  .about-div {
    margin-bottom: 0;
  }
}

#third-section .about-div p {
  font-size: 1.8rem;
  margin: 1% auto;
  padding: 2%;
  height: 75%;
  background-color: rgb(248, 241, 250);
  border-radius: 2%;
  box-shadow: 5px 10px 30px 8px #46324648;
}

.about-text {
  width: 65%;
}

.divider {
  border-bottom: 2px solid rgb(75, 55, 83);
  width: 90%;
  margin: 0 auto;
  height: 3rem;
}

.fourth-section-title {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 2%;
}

@media (max-width: 1680px) {
  .fourth-section-title {
    margin-bottom: 0.1%;
  }
}

.fourth-section-title h1 {
  color: rgb(255, 255, 255);
  font-size: 4rem;
  padding: 0.4% 4.5%;
  width: 23vw;
  border-radius: 5px;
  text-shadow: 0 0 2px white, 0 0 3px white, 0 0 4px #3a043a73,
    0 2px 5px #3a043a, 0 3px 5px #000000a8;
  box-shadow: 5px 10px 30px 8px #46324648;
  background-color: #673a7c;
}

@media(max-width: 1680px) {
  .fourth-section-title h1 {
    width: 30vw;
    margin-top: 1%;
    margin-bottom:  4%;
  }
}

@media(max-width: 800px) {
  .fourth-section-title h1 {
    font-size: 3.4rem;
    width: 48vw;
    margin-top: 1%;
    margin-bottom:  4%;
    padding: 1%;
  }
}

@media(max-width: 600px) {
  .fourth-section-title h1 {
    font-size: 3rem;
    width: 55vw;
    
  }
}

.smoke {
  width: 50vw;
  height: 70%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2%;
}

@media (max-width: 1680px) {
  .smoke {
    margin-top: 0;
  }
}

.smoke-vid {
  border-radius: 50%;
}

@media (min-width: 280px) and (max-width: 1100px) {
  .smoke,
  .smoke-text {
    display: none;
  }
}

.smoke-text {
  position: absolute;
  margin-top: 5%;
  z-index: 300;
  font-size: 3.6rem;
  font-weight: 550;
  color: white;
  text-align: center;
}

@media (max-width: 1680px) {
  .smoke-text {
    font-size: 2.8rem;
    margin-top: 1%;
  }
}

.form-wrapper {
  position: relative;
  z-index: 500;
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 0;
  margin-bottom: 4%;
}

.form-wrapper:nth-child(4) {
  align-items: center;
}

@media (max-width: 1680px) {
  .form-wrapper {
    width: 50%;
    
  }
}

@media (max-width: 800px) {
  .form-wrapper {
    width: 80%;
    
  }
}

.send-a-message {
  margin: 0 auto;
  font-size: 2.5rem;
  color: chartreuse;
  text-align: center;
  border-bottom: 1px solid chartreuse;
  margin-bottom: 0.5%;
  width: 85%;
}

@media (max-width: 600px) {
  .send-a-message {
    width: 90%;
    font-size: 1.7rem;
  }
}

@media (max-width: 1400px) {
  .send-a-message {
    width: 90%;
    font-size: 2rem;
  }
}

.contact-container {
  width: 100%;
  border-radius: 5px;
  background-color: #550055;
  padding: 25px;
  color: white;
  font-size: 1.2rem;
  border: 2px solid rgba(5, 0, 5, 0.658);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}



input[type="text"],
select,
textarea {
  width: 100%;
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 2%;
  margin-bottom: 2%;
  resize: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 0.92rem;
}

input[type="text"] {
 margin-top: 5%;
}

input[type="submit"] {
  background-color: chartreuse;
  padding: 4%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 23%;
  font-size: 1rem;
}

@media (max-width: 1000px) {
  input[type="submit"] {
    width: 60%;
  }
}

@media (max-width: 600px) {
  input[type="submit"] {
    width: 40%;
  }
}

input[type="submit"]:hover {
  background-color: #0a01119a;
  color: white;
  box-shadow: 0 0 4px white;
}

.developer-logo {
  position: fixed;
  z-index: 600;
  top: 10px;
  left: 1%;
  border-radius: 50%;
  opacity: 1;
  box-shadow: inset 0 0 3px white, 0 0 2px white, 0 0 3px white, 0 0 4px white, 0 2px 5px #3a043a,
    0 4px 5px #3a043a;
  background-color: rgba(20, 5, 18, 0.7);
}

.dev-logo-img {
  height: 4rem;
}

.contact-info {
  position: relative;
  z-index: 550;
  color: chartreuse;
  width: 35%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 6px solid #550055;
  padding: 3% 2%;
  align-items: center;
}

@media (max-width: 1680px) {
  .contact-info {
    width: 40%;
    height: 55%;
    padding: 15% 3%;
  }
}

@media (max-width: 500px) {
  .contact-info {
    width: 95%;
    margin-bottom: -10%;
    border: none;
    padding: 1%;
  }
}

.contact-info h3 {
  font-size: 2.6rem;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid chartreuse;
  width: 90%;
  
}

@media (max-width: 1400px) {
  .contact-info h3 {
    width: 95%;
    font-size: 2.3rem;
  }
}

@media (max-width: 800px) {
  .contact-info h3 {
    display: none;
  }
}

.social {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

@media (max-width: 500px) {
  .social {
    margin-top: -10%;
    
  }
}

.linkedin {
  color: chartreuse;
  text-decoration: none;
  font-size: 1.8rem;
}

@media (max-width: 500px) {
  .linkedin {
    font-size: 1.8rem;
    
  }
}

.linkedin img {
  margin-top: 27%;
  width: 4rem;
  border-radius: 4px;
  border-width: 5px;
  border: 0.5px solid #550055;
  box-shadow: 0 0 1px white, 0 0 2px white, 0 0 4px white, 0 4px 5px #3a043a,
    0 4px 5px #3a043a;
  background-color: rgba(20, 5, 18, 0.507);
}

@media (max-width: 1280px) {
  .linkedin img {
    width: 3.5rem;
  }
}

.github {
  text-decoration: none;
  color: chartreuse;
  font-size: 1.8rem;
}

@media (max-width: 500px) {
  .github {
    font-size: 1.8rem;
  }
}

.github img {
  width: 4rem;
  margin-top: 38%;
  border-radius: 4px;
  border-width: 3px;
  border: 0.5px solid #550055;
  box-shadow: 0 0 1px white, 0 0 2px white, 0 0 4px white, 0 4px 5px #3a043a,
    0 4px 5px #3a043a;
  background-color: rgba(20, 5, 18, 0.507);
}

@media (max-width: 1680px) {
  .github img {
    width: 3.6rem;
  }
}

.email {
  font-size: 1.8rem;
  word-wrap: break-word;
  width: 100%;
}

@media (max-width: 500px) {
  .email {
    width: 100%;
    margin-top: 5%;
    margin-left: 25%;
    font-size: 1.8rem;
  }
}

@media (min-width: 800px) {
  .email h5 {
    margin-top: 7%;
    margin-bottom: -2%;
  }
}

@media (max-width: 800px) {
  .email h5 {
    margin-bottom: -5%;
  }
}

.email p {
  margin: 0;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 0;
  color: white;
  font-size: 1.7rem;
}

@media (max-width: 500px) {
  .email p {
    width: 80%;
    font-size: 1.4rem;
  }
}

.border1 {
  position: absolute;
  z-index: 500;
  top: 24%;
  left: 10%;
  width: 75%;
  visibility: hidden;
}

.border2 {
  position: absolute;
  z-index: 500;
  bottom: 6%;
  right: 10%;
  width: 75%;
  transform: rotate(180deg);
  visibility: hidden;
}

@media (max-width: 1680px) {
  .border1 {
   top: 21%;
   left: 8%;
  }
}

@media (max-width: 1680px) {
  .border2 {
    bottom: 4%;
    right: 8%;
  }
}

@media (max-width: 1100px) {
  .border1,
  .border2 {
    display: none;
  }
}

.single-star {
  position: relative;
  z-index: 1000;
  width: 40px;
}