*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html, body
{
    overflow: auto;
    font-family: 'Poppins';
    
}
.webgl
{   
    position: relative;
    z-index: 1;
    background-color: black;
    
}

#first-section {
  background-color: black;
}

#second-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
  width: 100%;
  height: 130%;
  
}

#third-section {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

#fourth-section {
  width: 100%;
  height: 100vh;
  padding: 2%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #260033;
  position: relative;
 
  /* border: 2px solid red !important; */
}

@media (max-width: 1100px) {
  #fourth-section {
    justify-content: space-between;
  }
}

@media (max-width: 800px) {
  #fourth-section {
    flex-direction: column;
  }
}
